* {
	font-family: Arial;
}

body {
	margin:0;
	padding: 0;
}

/* Inicio Cabeçalho */
header {
	display: flex;
	justify-content: center;
	height: 120px;
}

.container {
	display: flex;
	justify-content: space-between;
	width: 990px;
	margin-top: 30px;
}
.container_bs4{
	margin-top: 19px;
	background-color: #FFFFFF;
}

.container_bs4 button div {
	width: 35px;
	height: 5px;
	background-color: #39aae1;
	margin: 6px 0;
}

.logo {	
	display: flex;
	align-items: center;
}

.menu {
	display: flex;
	align-items: center;
	background-color: #FFFFFF;
}


nav ul, li {
	list-style: none;
	margin: 0;
	padding: 0;
}

nav ul {
	display: flex;
}

nav a {
	display: block;
	padding: 15px;
	text-decoration: none;
	text-transform: uppercase;
	color: #727272;
}

nav .active a, nav a:hover {
	background-color: #39aae1;
	color: #FFF;
}

/* Menu Mobile Inicio */

.menuMobile {
	display: none;
	width: 40px;
	height: 40px;
	margin-top: 40px;
	margin-bottom: 40px;
	margin-right: 20px;
}

.mm_line {
	height: 3px;
	background-color: #39aae1;
}


/* Menu Mobile Fim */

/* Fim Cabeçalho */

/* Seçao de Banner Inicio */
#banner {
	display: flex;
	justify-content: center;
	background-image: url('../images/mulher.jpg');
	background-position: center;
	background-size: cover;
	height: 670px;
}

.column {
	flex-direction: column;
}

.banner_headline {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 20px;
}

.banner_headline h1 {
	color: #FFFFFF;
	font-size: 60px;
	text-shadow: 0px 1px 0px #555555;
	margin: 0;
	padding: 0;
	max-width: 350px;
}

.banner_headline h2 {
	color: #FFFFFF;
	font-size: 21px;
	text-shadow: 0px 1px 0px #555555;
	margin: 0;
	padding: 0;
	max-width: 350px;
	margin-top: 30px;
}

.banner_options {
	height: 210px;
	display: flex;

}	

.banner1, .banner2, .banner3{
	flex:1;
	color: #FFFFFF;
	padding: 20px;
}

.banner1 {
	background-color: #39aae1;
	text-align: center;
}

.banner2 {
	background-color: #0079c7;
	text-align: center;

}

.banner3 {
	background-color: #2b4c99;
	text-align: center;

}

.banner_title {
	font-size: 21px;
	text-align:center;
	margin-bottom: 20px;
}

.banner_desc {
	font-size: 12px;
	margin-top: 30px;
	text-align:center;
}


/* Seçao de Banner fim */

/* Seção Conteudo Inicio */

#geral {
	display: flex;
	justify-content: center;
}

#geral section {
	flex: 2;
}

#geral aside {
	flex: 1;
}
/* Aside Inicio */
.widget_title {
	margin-top: 30px;
	margin-bottom: 20px;
}

.widget_title_text {
	color: #000000;
	font-size: 21px;
	font-weight: bold;
}

.widget_title_bar {
	width: 50px;
	height: 2px;
	background-color: #36a9e1;
	margin-top: 10px;
}


.widget_bloco {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.bloco1{
	margin-left: 20px;
	margin-bottom: 25px;
	height: 120px;
	width: 120px;
	background-color: #36a9e1;
}
.bloco2{
	margin-left: 20px;
	margin-bottom: 25px;
	height: 120px;
	width: 120px;
	background-color: #36a9e1;
}

.bloco3{
	margin-left: 20px;
	height: 120px;
	width: 120px;
	background-color: #36a9e1;
}

.bloco4{
	margin-left: 20px;
	margin-bottom: 25px;
	height: 120px;
	width: 120px;
	background-color: #36a9e1;
}
.bloco5{
	margin-left: 20px;
	margin-bottom: 25px;
	height: 120px;
	width: 120px;
	background-color: #36a9e1;
}

.bloco6{
	margin-left: 20px;
	height: 120px;
	width: 120px;
	background-color: #36a9e1;
}
/* Aside Fim */

.flex {
	display: flex;
	flex-wrap: wrap;
}

article {
	flex: 1;
	min-width: 300px;
	margin-right: 20px;
}

article a {
	text-decoration: none;
}

article .news_data{
	display: flex;

}

article .news_posted_at{
	background-color: #2b4c99;
	color: #FFFFFF;
	font-size: 12px;
	padding: 10px;
	margin-right: 2px;
	margin-bottom: 5px;
}

article .news_comments{
	background-color: #39aae1;
	color: #FFFFFF;
	font-size: 12px;
	padding: 10px;
}

article .news_thumbnail{
	margin-top: 30px;
}

article .news_thumbnail img{
	width: 100%;
	height: auto;
}

article .news_title {
	margin-top: 25px;
	margin-bottom: 25px;
	color: #000000;
	font-size: 23px;
}

article .news_resume{
	color: #5c5c5c;
	line-height: 20px;
	font-size: 14px;
	margin-bottom: 30px;
}

hr {
	padding: -3px;
	background-color: #9e9c9c;
}

.btn btn-info {
	background-color: #36a9e1;
}

h5 bg-info {
	background-color: #36a9e1;
}

/* Seção Conteudo Inicio */

/* Footer Inicio */

footer {
	background-color: #1e1e1e;
	display: flex;
	justify-content: center;
}

.footer_menu {
	display: flex;
}

.flexColumn {
	flex-direction: column;
}

.fm_1, .fm_2, .fm_3 {
	flex: 1;
	color: #FFFFFF;
	padding: 20px;
}

.fm_1 {
	background-color:#39aae1;
}

.fm_2 {
	background-color:#0079c7;
}

.fm_3 {
	background-color:#2b4c99;
}

.fm_1_title {
	font-size: 27px;
}

.fm_1_text {
	font-size: 12px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.fm_2_title {
	font-size: 27px;
}

.fm_2_text {
	font-size: 12px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.fm_3_title {
	font-size: 27px;
}

.fm_3_text {
	font-size: 12px;
	margin-top: 20px;
	margin-bottom: 20px;
}


.footer_area {
	display: flex;
}

.footer_areaitem {
	flex: 1;	
	color: #FFFFFF;
}

.footer_areatext {
	font-size: 14px;
	color: #5c5c5c;
}
.footer_areatext2 {
	margin-top: 10px;
	font-size: 14px;
	color: #5c5c5c;
}

footer .widget_title_text{
	color: #FFFFFF;
}

.post1 {
	font-size: 14px;
}

.post1_date{
	color: #0079c7;
}
.footer_copy {
	border-top: 1px solid #2c2c2c;
	height: 40px;
	line-height: 40px;
	color: #5c5c5c;
	font-size: 12px;
	margin-top: 30px;

}
/* Footer Fim */

/* RESPONSIVIDADE */
@media (max-width: 600px){

	.banner_headline h1{
		font-size: 55px;
	}
	.banner_headline h2{
		font-size: 17px;
	}
	.banner_options {
		height: auto;
		flex-direction: column;
	}

	.container {
		flex-direction: column;
	}

	#geral section,
	#geral aside {
		padding: 20px;
	}

	.footer_menu {
		flex-direction: column;
	}

	.footer_area {
		flex-direction: column;
		padding: 20px;
	}

	 .footer_copy {
	 	padding-left: 20px;
	 }

	 header .container {
	 	flex-direction: row;
	 }

	 nav ul {
	 	flex-direction: column;
	 	display: none;
	 	position: absolute;
	 	left: 0;
	 	width: 100%;
	 	background-color: #FFFFFF;
	 }

	 header {
	 	height: auto;
	 }

	 .logo {
	 	padding-left: 20px;
	 }

	 .menuMobile {
	 	display: flex;
	 	flex-direction: column;
	 	justify-content: space-around;
	 }
}
/* Fim Responsividade */


















